:root {
  --primary-color: rgb(74, 184, 228);
  --primary-color: rgb(252, 187, 67);
}

html[op] body {
  background: linear-gradient(45deg, #666, #111);
  overflow-x: hidden; /* quickfix: prevent a small horizontal scroll issue*/
}
@media screen and (min-width: 751px) {
  #hnmain {
    box-shadow: 0 0 20px #111;
    border: 2px solid #222;
  }
}
/* default main color of titles */
#hnmain .title a {
  color: #eee;
}

/* The top navbar */
td[bgcolor="#ff6600"] {
  background: var(--primary-color);
}
.hnname a {
  text-shadow: 0 0 5px #fff;
}
/* list of posts */
.itemlist {
  width: 100%;
  background: #333;
}

@media only screen and (max-width: 750px) and (min-width: 300px) {
  .itemlist {
    padding-right: 3px;
  }
}

/* everything but the post title */
#hnmain .itemlist .subtext {
  /* make it text unselectable for easier long pressing on mobile */
  user-select: none;
  -moz-user-select: none;

  padding-bottom: 8px;
  font-size: 70%;
  color: #ccc;
}

/* the "[n] comments" text */
@media screen and (max-width: 751px) {
  .itemlist .subtext > a[href^="item"]:last-child {
    float: right;
    color: #fff;

    /* make link easier to click on mobile */
    margin: -6px;
    padding: 6px;
    padding-right: 12px;
  }
}

/* On the post page, the expanded post information including post body and comment box */
.fatitem {
  height: auto;

  position: sticky;
  top: 0;
  z-index: 1;

  background: #333;
  box-shadow: 0 1px 4px #000;
  margin-bottom: 1px;

  width: 100%;

  /* fixes some cases where post height is bigger than viewport */
  display: block;
  max-height: 50vh;
  overflow-y: auto;
  /* /fix */

  transition: max-height 0.7s ease-in-out;
  scroll-behavior: smooth;
}

body.scrolled_down .fatitem {
  display: block;
  overflow-y: hidden;

  box-shadow: unset;
}

.fatitem pre {
  max-width: 88vw;
}
/* default text in post page body */
#hnmain .fatitem td {
  color: #fff;
}

.fatitem .athing .title:not([valign="top"]) {
  background: #333;
  font-weight: bold;
}
.fatitem tr[style="height:10px"] {
  display: none;
}

.fatitem ~ br {
  display: none;
}
.fatitem a:link {
  color: var(--primary-color);
}
.fatitem td {
  color: rgb(236, 245, 255);
}
.fatitem tr:nth-child(4) td {
  font-size: 70% !important;
}

.fatitem .subtext > a {
  color: var(--primary-color) !important;
  filter: brightness(1.1);
}
.fatitem .subtext > a:last-child {
  color: #ccc;
}

[action="comment"] textarea {
  height: 20px;
  background: #222;
  color: white;
  font-size: 14px;
  border-radius: 4px;
}
[action="comment"] textarea:focus {
  height: 300px;
}
[action="comment"] br {
  display: none;
}
[action="comment"] input[type="submit"] {
  display: none;
}
[action="comment"] textarea:focus ~ input[type="submit"] {
  display: inline;
}
#pagespace {
  display: none;
}
span[id^="score"] {
  color: var(--primary-color);
}

.pagetop {
  font-family: "Roboto", sans-serif;
  font-size: 95% !important;
}
.pagetop .hnname {
  font-weight: bold;
  font-size: 130%;
}
.votearrow {
  transform: scale(0.8, 0.8) !important;
  margin-right: 0;
}

.itemlist,
.fatitem,
.comment-tree {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.itemlist a u,
.itemlist .hnmore a {
  color: white !important;
}

.itemlist a[href^="item?id="],
.subtext a[href^="item?id="] {
  color: #ccc !important;
}
/* any "n comments" section */
.subtext > a:last-child {
  border-bottom: 1px dotted var(--primary-color);
}

.itemlist .athing:nth-child(2n),
.itemlist .athing:nth-child(2n) + tr {
  background: #222;
}

.itemlist .athing:nth-child(2n) td {
  border-top: 2px solid #111;
  padding-top: 2px;
}
.itemlist .athing:nth-child(2n) + tr td {
  border-bottom: 2px solid #111;
  padding-bottom: 8px;
}

.itemlist .rank {
  display: none;
}

.itemlist .spacer {
  display: none;
}

.athing .title .rank {
  color: #aaa;
  font-size: 80%;
}
/* post title on list of posts and postpage */
.athing .titlelink {
  color: #eee;
  font-family: "Roboto", sans-serif;
  font-size: 97%;
  padding: 0 2px;
  text-shadow: 0 0 3px #000;
}

.comment-tree {
  background: #333;
  min-width: 100%;
}
.comment-tree .comment a {
  max-width: 70vw !important;
}
.comment-tree .hnuser {
  color: var(--primary-color) !important;
  filter: brightness(1.1);
}

/* .athing.comtr:nth-child(2n) td {
  background: #222;
} */
.comment .commtext {
  color: #ccc;
}
.comment {
  max-width: 98% !important;
  font-size: 85%;
}
.comment a {
  color: var(--primary-color) !important;
}
.comment pre {
  min-width: 98%;
}
/* fix issue with some comments not being full width */
.comtr .default,
.comtr table {
  width: 100%;
}

.comtr .default > div:first-child {
  background: linear-gradient(90deg, #222222ff, #00000000);
  padding: 2px 0 2px;
}

.athing.comtr > td:last-child {
  border-bottom: 2px solid #111;
}

table[bgcolor="#f6f6ef"] {
  background: #f3f9fb;
}

/* the pagination link (on mobile) */
@media screen and (max-width: 751px) {
  .morespace + tr .title {
    text-align: right;
  }
}
.morelink {
  color: var(--primary-color) !important;
  padding: 5px;
  border-bottom: 3px solid var(--primary-color);
  margin-right: 10px;
}

.ind img[width="0"] {
  width: 1px !important;
}
.ind img[width="40"] {
  width: 5px !important;
}
.ind img[width="80"] {
  width: 9px !important;
}
.ind img[width="120"] {
  width: 13px !important;
}
.ind img[width="160"] {
  width: 17px !important;
}
.ind img[width="200"] {
  width: 21px !important;
}
.ind img[width="240"] {
  width: 25px !important;
}
.ind img[width="280"] {
  width: 29px !important;
}
.ind img[width="320"] {
  width: 33px !important;
}
.ind img[width="360"] {
  width: 37px !important;
}
.ind img[width="400"] {
  width: 41px !important;
}
.ind img[width="440"] {
  width: 45px !important;
}
.ind img[width="480"] {
  width: 49px !important;
}
.ind img[width="520"] {
  width: 53px !important;
}
.ind img[width="560"] {
  width: 57px !important;
}
.ind img[width="600"] {
  width: 61px !important;
}
.ind img[width="640"] {
  width: 65px !important;
}

.comment-tree tr .ind {
  background: var(--primary-color) !important;
}
.comment-tree tr:nth-child(5n) .ind {
  filter: brightness(0.6);
}
.comment-tree tr:nth-child(5n + 1) .ind {
  filter: brightness(0.75);
}
.comment-tree tr:nth-child(5n + 2) .ind {
  filter: brightness(0.9);
}
.comment-tree tr:nth-child(5n + 3) .ind {
  filter: brightness(1.05);
}
.comment-tree tr:nth-child(5n + 4) .ind {
  filter: brightness(1.2);
}

/* footer */
#hnmain > tbody > tr:last-child td {
  background: linear-gradient(180deg, #444, #1f1f1f);
}
#hnmain > tbody > tr:last-child td a {
  color: #fff;
}
#hnmain > tbody > tr:last-child td[bgcolor="#ff6600"] {
  display: none;
}

/* Our custom Theming dialog */
#customizeDialog {
  position: fixed;
  display: flex;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
#customizeDialog .color-choose {
  padding: 10px;
  border-radius: 10px;
  background: #000e;
  color: #ccc;
  margin: auto;
}
#customizeBtn {
  cursor: pointer;
}
.hidden {
  display: none !important;
}

/* the domain part of posts "(domain.com)" */
.title .sitebit {
  color: var(--primary-color);
}
.title .sitebit a .sitestr {
  color: var(--primary-color);
  filter: grayscale(0.75) brightness(1.3);
}

.votelinks {
  min-width: unset !important;
}


/* Favicons feature */
.domain-icon {
  padding-right: 4px;
  vertical-align: middle; 
}

/* 2022-11-14 site change fixes.. todo cleanup old stuff probably not needed anymore (.itemlist) */
#hnmain td:not([bgcolor="#ff6600"]) table {
  width: 100%;
  background: #2f2f2f;
}
#hnmain table:not(.comment-tree) .athing:nth-child(2n),
#hnmain table:not(.comment-tree) .athing:nth-child(2n) + tr {
  background: #222;  
}

#hnmain table:not(.comment-tree) .athing:nth-child(2n) td {
  border-top: 2px solid #111;
  padding-top: 3px;
}
#hnmain table:not(.comment-tree) .athing:nth-child(2n) + tr td {
  border-bottom: 2px solid #111;
  padding-bottom: 3px;
}
#hnmain .athing.comtr:nth-child(2n) table {
  background: #222; 
}
/* end 2022-11-14 fixes */ 